<html>
  <head>
    <title>Go Forms</title>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
  </head>
  <body>
    <div id="formdata">
    <form method="POST">
      <label for="title">Title
        <input name="title" type="text" >
      </label>
      <label for="description">Description
        <input name="description" type="text" >
      </label>
      <label for="question_ids">
        <input name="question_ids" >
      </label>
      <button type="submit" hx-post="/forms/create" hx-target="#formdata" hx-swap="innerHTML">Create</button>
    </form>
    <div id="questions">
    </div>
    <div hx-target="#questions" hx-swap="beforeend"> 
      <button hx-get="/add-question">+</button>
    </div>
  </div>
  </body>
</html>
